h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    color: #000;
    font-weight: bold;
    background-color: #E6F9FE;
}

.cart {
    background-color: #087c80;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 80px;
    width: 60px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.cart:hover {
    cursor: pointer;
    background-color: #0b9ba0;
}

.fa {
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.count {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.arrow {
    font-size: 80px;
    position: absolute;
    color: #087c80;
}

.svgTitle {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-bottom: 40px;
    font-weight: bold;
}

#container {
    margin: 0 auto;
    width: 100%;
}

#mainNav {
    height: 60px;
    background-color: #505B60;
    display: flex;
}

#mainNav ul {
    margin: 0 auto;
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

#mainNav ul li {
    margin: 20px;
}

#mainNav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    padding: 10px;
}

#mainNav ul li a:hover {
    color: #000;
    background-color: whitesmoke;
    border-radius: 4px;
}

#virus:hover .cls-1 {
    fill: #E57070;
}

#distance:hover .cls-2 {
    fill: #EFCD6F;
}

#handwashing:hover .cls-2 {
    fill: #CE679B;
}

#mask:hover .cls-1 {
    fill: #87DDF4;
}

#quarantine:hover .cls-1 {
    fill: #5A8391;
}

#soap:hover .cls-4 {
    fill: #CE679B;
}

#temp:hover .cls-4 {
    fill: #E57070;
}

#toiletpaper:hover .cls-1,
#toiletpaper:hover .cls-2,
#toiletpaper:hover .cls-3 {
    fill: white;
}

#vaccine:hover .cls-2 {
    fill: white;
}

#worker:hover .cls-4 {
    fill: #92E0BD;
}

.svgIcons {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.svgIcon {
    margin: 50px;
    padding: 50px;
    width: 100px;
    /* border: 4px solid black; */
    border-radius: 10px;
}

.svgIcon:hover {
    background: #0b9ba0;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.selected {
    background: #087c80;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.4), 0px 10px rgba(0, 0, 0, 0.3), 0px 15px rgba(230, 38, 38, 0.2), 0px 20px rgba(0, 0, 0, 0.1), 0px 25px rgba(0, 0, 0, 0.05);
    transform: scale(1.2);
    transition: all .30s ease-in-out;
    color: white;
}